body{
    padding: 0px;
    margin: 0px;
}

header{
    overflow: hidden;
    background: #0c5268;
    height: 45px;
}
header .logo{
    font-size: 25px;
    float: left;
    padding: 0 10 0 10;
    margin: 10px;
    color: rgb(145, 252, 243)
}
nav{
    width: 80%;
    float: left;
}

nav .navbar-left li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 0 10 0 10;
    margin: 1 10 1 10;
    color: #E0FFF8;
}
nav .navbar-left li a{
    text-decoration: none;
    color: #E0FFF8
}

nav .navbar-left li a:hover{
    /* background: #3498db; */
    color: #fff;
}

nav .navbar-left .nav-right{
    padding: 0 10 0 10px;
    float: right;
}
nav .navbar-left .nav-right a{
    display: inline-block;
    padding: 0 10 0 10;
}
nav .navbar-left .nav-right a{
    text-decoration: none;
    color: #E0FFF8;
}
nav .navbar-left .nav-right a:hover{
    /* background: #3498db; */
    color: #fff;
}
.main-content img{
    size: 500px;
    float: left;
    margin: 20px;
    height: 400;
    width: 50%
}
footer{
    width: 100%;
    height: 100px;
    margin-top: 550px;
    overflow: hidden;
    text-align: center;
    background: #0b4d61;
}
footer a{
    display: inline-block;
    padding: 5 10 0 10;
    text-decoration: none;
    color: #E0FFF8
}
footer .copyright{
    padding-top: 20px;
    color: #fff
}

