form {
    margin:0 auto;
    width:30%;
    float: left;
    margin: 20px;
  }
  form a{
    text-decoration: none;
    margin-left: 15px;
    color: rgb(57, 138, 97)
  }
  form a:visited{
    color: rgb(37, 100, 116)
  }
  form p{
    text-align: center;
    font-size: 24px;
    font: bold;
    color: rgb(37, 100, 116) 
  }
  input {
    margin-bottom:3px;
    padding:10px;
    width: 100%;
    border:1px solid #CCC
  }
  button {
    padding:10px;
    background: #0c5268;
    color: #E0FFF8;
    border: none;
  }
 